{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% load i18n %}


<!DOCTYPE html>
<html>
<head>
    <title>Федерация Каратэ Нарайана | {% page_attribute "page_title" %}</title>
    <meta name="description" content="{% page_attribute "meta_description" %}"/>
    <meta name="viewport" content="width=900">
    <meta name="keywords" content="каратэ для взрослых, кихон, ката, кумитэ, черный пояс, ученики, додзе"/>
    <meta name="abstract"
          content="Федерации каратэ. Боевые искусства в мире. Единоборства в России. Каратэ в Москве. Карате, каратэ, Нарайана."/>
    <meta name="subject"
          content="Федерации каратэ. Новости боевых искусств. Все единоборства России. Каратэ Нарайана."/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="ru"/>
    <meta name="robots" content="all"/>
    <meta name="RATING" content="General"/>
    <meta name="REVISIT" content="1 DAYS"/>
    <meta name="REVISIT-AFTER" content="1 DAYS"/>
    <meta name="AUDIENCE" content="ALL"/>
    <meta name="Expires" content="never"/>
    <meta name="Document-state" content="Dynamic"/>
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon"/>
    {% render_block "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" type="text/css"/>
</head>

<body>
{% cms_toolbar %}

<div class="main_block">
    {% block header %}
        <div class="header">

            <img src="{{ STATIC_URL }}images/main/fon-nadpis.png" alt="" class="header_img"/>
            <img src="{{ STATIC_URL }}images/main/karatist.png" alt="" align="right" border="0" style="float:right" />
        </div>
        <!--Верхнее меню-->
        <div class="menu">

              {% render_model_block request.current_page "changelist" %}
                             {% show_menu 0 1 0 100 "menu.html" %}
              {% endrender_model_block %}

        </div>
    {% endblock header %}
    <!--Основной контент-->


         {% block content %}
         {% endblock content %}


    <!--Очистка стилей-->
    <br class="clearboth"/>
    <!--Нижнее меню-->
    <div class="menu">
        {% render_model_block request.current_page "changelist" %}
                {% show_menu 0 1 0 100 "menu.html" %}
          {% endrender_model_block %}
    </div>
    {% block footer %}
        <div class="bottom">
            <p>
                <span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:28px;">Запись на занятия по тел.: 8-903-748-38-88 (Би Лайн), 8-917-421-35-21 (МТС)&nbsp;</span></span>
            </p>

            <p>
                <span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:28px;">e-mail: <a
                        class="contacts" href="mailto:ayashkin@yandex.ru">ayashkin@yandex.ru</a></span></span></p>
            <span class="services"></span>
        </div>
    {% endblock footer %}

</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<!--<script src="{{ STATIC_URL }}js/jquery/1.5/jquery.js" type="text/javascript"></script>-->
<!--<script language="JavaScript" type="text/javascript" src="{{ STATIC_URL }}js/narayana.js"></script>-->
{% render_block "js" %}
</body>
</html>
